<mat-card>
  <mat-card-content>
    <div class="row">
      <mat-chip-list>
        <mat-chip *ngFor="let chip of chips" [removable]="true">
          {{chip}}
          <mat-icon matChipRemove (click)="remove(chip)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="row">
      <div class="col-3">cena<span></span></div>
      <div class="col-3">najnowsze</div>
      <div class="col-3">dostawa</div>
      <div class="col-3">ilość</div>
    </div>
  </mat-card-content>
</mat-card>
