.mat-table{
  background: rgb(255, 255, 255);
  td{
    color: black;
    border-color: rgb(73, 70, 70);
  }
  th{
    color:red;
  }

}

.table__container{
 width: 100% ;
 background-color: rgb(240, 236, 243);
}
.elemImage{
  width: 50px;
  height: 50px;
  float: left;
  background-color: rgb(223, 230, 230);
  border-radius: 2px;
  border: .2px solid rgb(131, 127, 127);
  // box-shadow: -2px 2px 2px 2px blue;
  margin: 3px;
  padding: 3px;
}

.tableContainer{

}

.productName{
  align-self: center !important;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  margin: auto;
  color: rgb(126, 129, 129);
}

.pagination{
  margin: 50px;
  height: 300px;
  .paginCol{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .highlightItem{
    background-color: rgb(38, 43, 43);
    color: aliceblue;

  }
  .firstItem{
    border-right: .5px;
  }
  .lastItem{
    border-left: .5px;
  }
  .allItems{
    border-style: outset;
    border-color: rgb(77, 74, 74);
    border-radius: 3px;
    border-top: .2px;
    border-bottom: .2px;
    padding: 2px;
    margin: .1px;
    cursor: pointer;
  }
}
