<div class="container-fluid home">
  <div class="row homeContainer">
    <div class="col-12 homeContainer__navigation">
      <div class="row justify-content-end">
        <div class="col-6 homeContainer__navigation--nav ">
          <div class=" nav row">
            <div class="nav__home col-4">Home</div>
            <div class="nav__shop col-4">Shop</div>
            <div class="nav__Allegro col-4">Sklep na Allegro</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="banner"><h1>Furniture Shop</h1></div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-4 "></div>
        <div class="col-4"></div>
        <div class="col-4"></div>
      </div>
    </div>
    <div class="col-12 align-self-end footer">
      <app-footer ></app-footer>
    </div>
  </div>
</div>


